.cf_button_array {
    background: #efefef;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
}
.cf_button_array button {
    border-radius: 5px;
    float: right;
}
.cf_button_array .clear{
    clear: both;
}

.o_notebook .table-responsive {
	max-height: 700px !important;
	overflow-x: auto;
	overflow-y: scroll;
}
.files-area {
    position: relative;
}
.links{
    position: absolute;
    right: 20px;
    top: 22px;
    background:#fff;
    width: 180px;
    padding:10px 10px 0px 10px;
    box-shadow: 0px 0px 25px #dcdcdc;
    border: 1px solid #dedede;
    display:none;
    z-index:666;
}
.links div {
    margin-bottom: 10px;
}

.links.show{
    display:block;
}
.files-area .drop{
    padding: 5px;
    display:inline-block;
}

#search-input{
    margin-top:16px;
}
.tab-holder{
    border-bottom: 1px solid #eee;
    line-height: 27px;
    display:inline-block;
    margin-right: 10px;

}

.tab-holder.active{
    border-bottom: 1px solid #990000;
    color: #990000;

}
.o_form_view .o_form_field.tabs-area{
    margin:10px 0px;
}
.tags-pagination .o_cp_pager{
    margin-top:-32px;
}